@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
  height: 100vh;
}

.scrnContainer {
  height: 100px;
}
